# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/
venv/

# macOS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Logs and temporary files
*.log
*.tmp

# Environment variables
.env

#Personal Local Prompt
project_prompt.txt

